/* for tablet */
@media all and (max-width: 1200px) {
	.header-right {
		margin-right: 20px;
	}
	.header-right a {
		padding: 0 20px;
	}
}

/* for handphone */

@media all and (max-width: 670px) {
	.header-right {
		margin-right: 30px;
	}
	.header-right a {
		padding: 0 15px;
	}
	.header-left a {
		padding-left: 5px;
	}
}
@media all and (max-width: 370px) {
	.header-right {
		margin-right: 15px;
		margin-left: 15px;
	}
	.header-right a {
		padding: 0 5px;
		font-size: 14px;
	}
	.header-left a {
		padding: 0;
		font-size: 16px;
	}
}


		
