/* for tablet */
@media all and (max-width: 1200px) {
	.header-right {
		margin-right: 20px;
	}
	.header-right a {
		padding: 0 20px;
	}
}

/* for handphone */

@media all and (max-width: 670px) {
	.header-right {
		margin-right: 10px;
	}
	.header-right a {
		padding: 0 5px;
	}
	.header-left a {
		padding-left: 5px;
		font-size: 18px;
	}
}


		
